.input-anim{
    z-index: 0;
    top: .5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: .3s;
}
input{
    z-index: 1;
}
@keyframes inpAnim {
    to{
        font-size: 0.75rem;
        color: #d8b4fe;
        top: -.5rem;
        line-height: 1rem;
    }
}
.expItem{
    border-radius: 28px;
    background: #fcfcfc;
    box-shadow:  18px 18px 36px #e3e3e3,
                 -18px -18px 36px #f6f6f6;
}